//
   Created by www on 2016/2/21.
//
   Created by www on 2016/1/12.
extends ../template/layout
block content

    .container
        .rowf
            form.form-horizontal(method="post",action="/admin/catetory")
                input(type="hidden",name="catetory[_id]",value="#{catetory._id}")
                .form-group
                    label.col-sm-2.control-label(for="inputName") 电影分类名称
                    .col-sm-10
                        input#inputName.form-control(type="text",name="catetory[name]",value="#{catetory.name}")

                input(type="submit")
