//
   Created by www on 2016/1/13.

extends ../template/layout
block content
    .container
        .row
            .col-md-2
                .thumbnail
                    a(href="")
                    img(src="",alt="")
                    .caption
                        h3 hshshshshsh
                        p:a.btn.btn-primary(href="",role="button")按钮