//
   Created by www on 2016/1/12.
//link(href="/bootstrap/dist/css/bootstrap.min.css", rel="styleSheet")
link(href="/bootstrap/dist/css/bootstrap.css", rel="styleSheet")
link(href="/bootstrap/dist/css/buttons.css", rel="styleSheet")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/jquery.validate.js")
script(src="/js/admin.js")


