//
   Created by www on 2016/2/24.
doctype html
html
    head
        title Impulse Parallax Bootstrap Template
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // STYLESHEET CSS FILES
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/animate.min.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/nivo-lightbox.css')
        link(rel='stylesheet', href='css/nivo_themes/default/default.css')
        link(rel='stylesheet', href='css/templatemo-style.css')
        script(src='js/jquery.js')
        script(src='js/bootstrap.min.js')
        script(src='js/nivo-lightbox.min.js')
        script(src='js/smoothscroll.js')
        script(src='js/jquery.sticky.js')
        script(src='js/jquery.parallax.js')
        script(src='js/wow.min.js')
        script(src='js/custom.js')
        script(src='js/isotope.pkgd.min.js')
    body(data-spy='scroll', data-target='.navbar-collapse', data-offset='50')
        // preloader section
        .preloader
            .sk-spinner.sk-spinner-rotating-plane
        // home section
        #home
            .container
                .row
                    .col-md-12.col-sm-12
                        h1.wow.bounceInDown.rotate Impulse
                        h2.wow.bounce DESIGN STUDIO
                        a.btn.btn-default.smoothScroll(href='#intro') GET STARTED
        // navigation section
        .navbar.navbar-default.navbar-static-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon.icon-bar
                        span.icon.icon-bar
                        span.icon.icon-bar
                    a.navbar-brand(href='#') Impulse
                .collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a.smoothScroll(href='#home') HOME
                        li
                            a.smoothScroll(href='#intro') 简介
                        li
                            a.smoothScroll(href='#work') 电影
                        li
                            a.smoothScroll(href='#team') 图书
                        li
                            a.smoothScroll(href='#portfolio') 音乐FM
                        li
                            a.smoothScroll(href='#price') 日记
                        li
                            a.smoothScroll(href='#contact') CONTACT us
        // intro section
        #intro
            .container
                .row
                    .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.title
                        h4 WELCOME TO IMPULSE
                        h2 Branding & Digital Studio
                        hr
                        p
                            | Impulse is a mobile friendly Bootstrap v3.3.5 layout from templatemo. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
            .container2
                .row
                    .col-md-4.col-sm-4.title
                        h2 Service
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
                    .col-md-8.col-sm-8
                        .col-md-6.col-sm-6.bg-black
                            i.fa.fa-mobile
                            h3 Mobile UX
                        .col-md-6.col-sm-6.bg-red
                            i.fa.fa-cloud
                            h3 Social media
                        .col-md-6.col-sm-6.bg-red
                            i.fa.fa-link
                            h3 Web Design
                        .col-md-6.col-sm-6.bg-black
                            i.fa.fa-globe
                            h3 SEO
        .copyrights
            | Collect from

        // work section
        #work.works
             .wrapper
                    .container
                        h2.section-title.wow.bounceInRight.animated.custom-white 我的电影
                        #filters.button-group
                            button.filters-button.wow.bounceInLeft.animated._active(data-wow-delay='0.0s', data-filter='*') 最新
                            button.filters-button.wow.bounceInLeft.animated(data-wow-delay='0.1s', data-filter='.分类1') 分类1
                            button.filters-button.wow.bounceInLeft.animated(data-wow-delay='0.2s', data-filter='.分类2') 分类2
                            button.filters-button.wow.bounceInLeft.animated(data-wow-delay='0.3s', data-filter='.logo') 分类3
                            button.filters-button.wow.bounceInLeft.animated(data-wow-delay='0.4s', data-filter='.music') 分类4
                            button.filters-button.wow.bounceInLeft.animated(data-wow-delay='0.5s', data-filter='.print') 分类5
                            button.filters-button.wow.bounceInLeft.animated(data-wow-delay='0.6s', data-filter='.web') 分类6
                    // /.container
                    .copyrights
                        | Collect from
                    #works_container
                        each cat in catetories
                            if cat.movies && cat.movies.length > 0
                            each item in cat.movies
                                .works-single-item(class="#{cat.name}")
                                    img.works-item(src='images/1.jpg')
                                    .a(href="#") #{item.title}
                                    .works-single-item-hover.text-center
                                        .works-icons
                                            a(href='#')
                                                i.custom-icon.fa.fa-link
                                            a.portfolio-item(data-lightbox-gallery='our-works-item-view', href='images/1.jpg')
                                                i.custom-icon.fa.fa-search
                                        .works-icons-content
                                            p|电影名称
                                            p|上映时间
                                            p|导演名称
                                            p|分类


                            // /.works-single-item-hover
                        // /.works-single-item
                        .works-single-item.music
                            img.works-item(src='images/2.jpg')
                            .a(href="#") dianying
                            .works-single-item-hover.text-center
                                .works-icons
                                    a(href='#')
                                        i.custom-icon.fa.fa-link
                                    a.portfolio-item(data-lightbox-gallery='our-works-item-view', href='images/2.jpg')
                                        i.custom-icon.fa.fa-search
                                .works-icons-content
                                    | Fullwidth Slideshow
                            // /.works-single-item-hover
                        // /.works-single-item
                        .works-single-item.applications
                            img.works-item(src='images/3.jpg')
                            .a(href="#") dianying
                            .works-single-item-hover.text-center
                                .works-icons
                                    a(href='#')
                                        i.custom-icon.fa.fa-link
                                    a.portfolio-item(data-lightbox-gallery='our-works-item-view', href='images/3.jpg')
                                        i.custom-icon.fa.fa-search
                                .works-icons-content
                                    | Fullwidth Slideshow
                            // /.works-single-item-hover
                        // /.works-single-item
                        .works-single-item.music.print
                            img.works-item(src='images/4.jpg')
                            .a(href="#") dianying
                            .works-single-item-hover.text-center
                                .works-icons
                                    a(href='#')
                                        i.custom-icon.fa.fa-link
                                    a.portfolio-item(data-lightbox-gallery='our-works-item-view', href='images/4.jpg')
                                        i.custom-icon.fa.fa-search
                                .works-icons-content
                                    | Fullwidth Slideshow
                            // /.works-single-item-hover
                        // /.works-single-item
                        .works-single-item.applications.logo
                            img.works-item(src='images/5.jpg')
                            .a(href="#") dianying
                            .works-single-item-hover.text-center
                                .works-icons
                                    a(href='#')
                                        i.custom-icon.fa.fa-link
                                    a.portfolio-item(data-lightbox-gallery='our-works-item-view', href='images/5.jpg')
                                        i.custom-icon.fa.fa-search
                                .works-icons-content
                                    | Fullwidth Slideshow
                            // /.works-single-item-hover
                        // /.works-single-item
                        .works-single-item.web
                            img.works-item(src='images/6.jpg')
                            .a(href="#") dianying
                            .works-single-item-hover.text-center
                                .works-icons
                                    a(href='#')
                                        i.custom-icon.fa.fa-link
                                    a.portfolio-item(data-lightbox-gallery='our-works-item-view', href='images/6.jpg')
                                        i.custom-icon.fa.fa-search
                                .works-icons-content
                                    | Fullwidth Slideshow
                            // /.works-single-item-hover
                        // /.works-single-item
                    // /#container
                // /.wrapper


        // team section
        #team
            .container
                .row
                    h2.section-title.wow.bounceInRight.animated.custom-white 我的阅读
                    ul.list3
                        li.col-lg-6.col-md-6.col-sm-6
                            .box4
                                figure
                                    img(src='./images/page1_img4.jpg', alt='')
                                .info1.maxheight
                                    p.list3title1 Nature
                                    p.list3title2 Migytafsas deuauyt asares
                                    p.list3title3 Kictaesaert asetyertya aset aplicibrdedas.
                                    a.btn-link.btn-link1(href='#')
                                        | learn more
                                        span
                        li.col-lg-6.col-md-6.col-sm-6
                            .box4
                                figure
                                    img(src='./images/page1_img5.jpg', alt='')
                                .info1.maxheight
                                    p.list3title1 Cities
                                    p.list3title2 Btreasas lisemeyta siqades
                                    p.list3title3 Kictaesaert asetyertya aset aplicibrdedas.
                                    a.btn-link.btn-link1(href='#')
                                        | learn more
                                        span
                        li.col-lg-6.col-md-6.col-sm-6
                            .box4
                                figure
                                    img(src='./images/page1_img6.jpg', alt='')
                                .info1.maxheight
                                    p.list3title1 Portraits
                                    p.list3title2 Dolore nuyfasa kerytertas
                                    p.list3title3 Kictaesaert asetyertya aset aplicibrdedas.
                                    a.btn-link.btn-link1(href='#')
                                        | learn more
                                        span
                        li.col-lg-6.col-md-6.col-sm-6
                            .box4
                                figure
                                    img(src='./images/page1_img7.jpg', alt='')
                                .info1.maxheight
                                    p.list3title1 Fashion
                                    p.list3title2 Fertyuasa mietyas lteasas
                                    p.list3title3 Kictaesaert asetyertya aset aplicibrdedas.
                                    a.btn-link.btn-link1(href='#')
                                        | learn more
                                        span

        // portfolio section
        #portfolio
            .container
                .row
                    .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.title
                        h2 我的音乐歌单
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree.
                    .col-md-12.col-sm-12
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img1.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img1.jpg', alt='portfolio img')
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img2.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img2.jpg', alt='portfolio img')
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img3.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img3.jpg', alt='portfolio img')
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img4.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img4.jpg', alt='portfolio img')
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img5.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img5.jpg', alt='portfolio img')
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img6.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img6.jpg', alt='portfolio img')
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img7.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img7.jpg', alt='portfolio img')
                    .col-md-3.col-sm-3.wow.fadeIn(data-wow-delay='0.6s')
                        a(href='images/portfolio-img8.jpg', data-lightbox-gallery='portfolio-gallery')
                            img(src='images/portfolio-img8.jpg', alt='portfolio img')
        // price section
        #price
            .container
                .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.title
                    h2 我的日记
                    hr
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree.
                .col-md-4.col-sm-6
                    .plan.wow.bounceIn(data-wow-delay='0.3s')
                        .plan_title
                            h3 标题
                        .plan_sub_title
                            h2 主题
                            small 时间
                        ul
                            li 分享链接
                            li 收获感想。。更多
                        button.btn.btn-warning Get started
                .col-md-4.col-sm-6
                    .plan.wow.bounceIn(data-wow-delay='0.6s')
                        .plan_title
                            h3 Business
                        .plan_sub_title
                            h2 $ 50
                            small per month
                        ul
                            li 10 ACCOUNTS
                            li 50 GB SPACE
                            li 30 PRO THEMES
                        button.btn.btn-warning Get started
                .col-md-4.col-sm-6
                    .plan.wow.bounceIn(data-wow-delay='0.9s')
                        .plan_title
                            h3 Professional
                        .plan_sub_title
                            h2 $ 75
                            small per month
                        ul
                            li 20 ACCOUNTS
                            li 100 GB SPACE
                            li 60 PRO THEMES
                        button.btn.btn-warning Get started
        // contact section
        #contact
            .container
                .row
                    .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.title
                        h2 Contact Us
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree.
                    .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.contact-form.wow.fadeInUp(data-wow-delay='0.9s')
                        form(action='#', method='post')
                            input.form-control(type='text', placeholder='Name')
                            input.form-control(type='email', placeholder='Email')
                            textarea.form-control(placeholder='Message', rows='6')
                            input.form-control(type='submit', value='SEND EMAIL')
        // footer section
        footer
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.wow.fadeIn(data-wow-delay='0.9s') Follow Us
                        ul.social-icon
                            li
                                a.fa.fa-facebook.wow.bounceIn(href='#', data-wow-delay='0.3s')
                            li
                                a.fa.fa-twitter.wow.bounceIn(href='#', data-wow-delay='0.6s')
                            li
                                a.fa.fa-behance.wow.bounceIn(href='#', data-wow-delay='0.9s')
                            li
                                a.fa.fa-dribbble.wow.bounceIn(href='#', data-wow-delay='0.9s')
                            li
                                a.fa.fa-github.wow.bounceIn(href='#', data-wow-delay='0.9s')
                            li
                                a.fa.fa-android.wow.bounceIn(href='#', data-wow-delay='0.9s')
                            li
                                a.fa.fa-phone.wow.bounceIn(href='#', data-wow-delay='0.9s')
                    .col-md-12.col-sm-12.copyright
                        p
                            | Copyright © 2084 Company Name | More Templates
                            a(href='http://www.cssmoban.com/', target='_blank', title='模板之家') 模板之家
                            |  - Collect from
                            a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') 网页模板


