//
   Created by www on 2016/2/25.
doctype html
html(lang='ch')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='左右结构项目，属于大人员的社交工具')
        meta(name='keywords', content='左右结构项目 社交 占座 ')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='format-detection', content='telephone=no')
        title 左右结构项目！
        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')
        script.
            $(function() {
                $(".meun-item").click(function() {
                    $(".meun-item").removeClass("meun-item-active");
                    $(this).addClass("meun-item-active");
                    var itmeObj = $(".meun-item").find("img");
                    itmeObj.each(function() {
                        var items = $(this).attr("src");
                        items = items.replace("_grey.png", ".png");
                        items = items.replace(".png", "_grey.png")
                        $(this).attr("src", items);
                    });
                    var attrObj = $(this).find("img").attr("src");;
                    attrObj = attrObj.replace("_grey.png", ".png");
                    $(this).find("img").attr("src", attrObj);
                });
                $("#topAD").click(function() {
                    $("#topA").toggleClass(" glyphicon-triangle-right");
                    $("#topA").toggleClass(" glyphicon-triangle-bottom");
                });
                $("#topBD").click(function() {
                    $("#topB").toggleClass(" glyphicon-triangle-right");
                    $("#topB").toggleClass(" glyphicon-triangle-bottom");
                });
                $("#topCD").click(function() {
                    $("#topC").toggleClass(" glyphicon-triangle-right");
                    $("#topC").toggleClass(" glyphicon-triangle-bottom");
                });
                $(".toggle-btn").click(function() {
                    $("#leftMeun").toggleClass("show");
                    $("#rightContent").toggleClass("pd0px");
                })
            })
        //if lt IE 9
          script(src='js/html5shiv.min.js')
          script(src='js/respond.min.js')
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='css/common.css')
        link(rel='stylesheet', type='text/css', href='css/slide.css')
        link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='css/flat-ui.min.css')
        link(rel='stylesheet', type='text/css', href='css/jquery.nouislider.css')
    body
        #wrap
            // 左侧菜单栏目块
            #leftMeun.leftMeun
                #logoDiv
                    p#logoP
                        img#logo(alt='左右结构项目', src='images/logo.png')
                        span 左右结构项目
                #personInfor
                    p#userName 杨鹏
                    p
                        span yangxp@qq.com
                    p
                        a 退出登录
                .meun-title 账号管理
                .meun-item.meun-item-active(href='#sour', aria-controls='sour', role='tab', data-toggle='tab')
                    img(src='images/icon_source.png')
                    | 资源管理
                .meun-item(href='#char', aria-controls='char', role='tab', data-toggle='tab')
                    img(src='images/icon_chara_grey.png')
                    | 权限管理
                .meun-item(href='#user', aria-controls='user', role='tab', data-toggle='tab')
                    img(src='images/icon_user_grey.png')
                    | 用户管理
                .meun-item(href='#chan', aria-controls='chan', role='tab', data-toggle='tab')
                    img(src='images/icon_change_grey.png')
                    | 修改密码
                .meun-title 地区管理
                .meun-item(href='#scho', aria-controls='scho', role='tab', data-toggle='tab')
                    img(src='images/icon_house_grey.png')
                    | 地区管理
                .meun-item(href='#regu', aria-controls='regu', role='tab', data-toggle='tab')
                    img(src='images/icon_rule_grey.png')
                    | 规则管理
                .meun-item(href='#stud', aria-controls='stud', role='tab', data-toggle='tab')
                    img(src='images/icon_card_grey.png')
                    | 人员信息
                .meun-item(href='#sitt', aria-controls='sitt', role='tab', data-toggle='tab')
                    img(src='images/icon_char_grey.png')
                    | 座位管理
            // 右侧具体内容栏目
            #rightContent
                a#nimei.toggle-btn
                    i.glyphicon.glyphicon-align-justify
                // Tab panes
                .tab-content
                    // 资源管理模块
                    #sour.tab-pane.active(role='tabpanel')
                        .check-div.form-inline
                            button.btn.btn-yellow.btn-xs(data-toggle='modal', data-target='#addSource') 添加资源
                        .data-div
                            .row.tableHeader
                                .col-lg-1.col-md-1.col-sm-1.col-xs-1
                                    | 编码
                                .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                    | 名称
                                .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                    | 链接
                                .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                    | 操作
                            .tablebody
                                .row
                                    .col-lg-1.col-md-1.col-sm-1.col-xs-1
                                        | 1
                                    #topAD.col-lg-4.col-md-4.col-sm-4.col-xs-4(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSystem', aria-expanded='true', aria-controls='collapseOne')
                                        span#topA.glyphicon.glyphicon-triangle-bottom
                                        span 系统管理
                                    .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                        | /admin/system/userlist/software/
                                    .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                        button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                                // 系统管理折叠狂
                                #collapseSystem.collapse.in(aria-expanded='true')
                                    .row
                                        .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl2
                                            | 2
                                        #topBD.col-lg-4.col-md-4.col-sm-4.col-xs-4.levl2(onclick='changeA()', role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseAccount', aria-expanded='true', aria-controls='collapseOne')
                                            span#topB.glyphicon.glyphicon-triangle-bottom(onclick='changeB()')
                                            span 账号管理
                                        .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                            | /rlist/
                                        .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                            button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                            button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                                    // 用户管理折叠狂
                                    #collapseAccount.collapse.in(aria-expanded='true')
                                        .row
                                            .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl3
                                                | 1
                                            .col-lg-4.col-md-4.col-sm-4.col-xs-4.levl3
                                                span   
                                                span 资源管理
                                            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                                | /admin/system/userlist/software/
                                            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                                button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                                        .row
                                            .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl3
                                                | 2
                                            .col-lg-4.col-md-4.col-sm-4.col-xs-4.levl3
                                                span
                                                span 权限管理
                                            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                                | /admin/system/userlist/software/
                                            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                                button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                                    .row
                                        .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl2
                                            | 3
                                        #topCD.col-lg-4.col-md-4.col-sm-4.col-xs-4.levl2(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSchool', aria-expanded='true', aria-controls='collapseOne')
                                            span#topC.glyphicon.glyphicon-triangle-bottom(onclick='changeC()')
                                            span  地区管理
                                        .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                            | /admin/system
                                        .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                            button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                            button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                                    // 地区管理折叠狂
                                    #collapseSchool.collapse.in(aria-expanded='true')
                                        .row
                                            .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl3
                                                | 1
                                            .col-lg-4.col-md-4.col-sm-4.col-xs-4.levl3
                                                span
                                                span 地区管理
                                            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                                | /admin/system/userlist/software/
                                            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                                button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                                        .row
                                            .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl3
                                                | 2
                                            .col-lg-4.col-md-4.col-sm-4.col-xs-4.levl3
                                                span
                                                span 规则管理
                                            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                                | /admin/system/userlist/software/
                                            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                button.btn.btn-success.btn-xs(data-toggle='modal ', data-target='#changeSource ') 修改
                                                button.btn.btn-danger.btn-xs(data-toggle='modal ', data-target='#deleteSource ') 删除
                                        .row
                                            .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl3
                                                | 3
                                            .col-lg-4.col-md-4.col-sm-4.col-xs-4.levl3
                                                span
                                                span 人员信息
                                            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                                | /admin/system/userlist/software/
                                            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                                button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                                        .row
                                            .col-lg-1.col-md-1.col-sm-1.col-xs-1.levl3
                                                | 4
                                            .col-lg-4.col-md-4.col-sm-4.col-xs-4.levl3
                                                span
                                                span 座位管理
                                            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                                | /admin/system/userlist/software/
                                            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeSource') 修改
                                                button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSource') 删除
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                        // 弹出窗口 添加资源
                        #addSource.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 添加资源
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 名称：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 链接：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 排序：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 父节点：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='exampleInput1') 资源类型：
                                                    .col-xs-8
                                                        label.control-label(for='anniu')
                                                            input#anniu(type='radio', name='leixing')
                                                            | 菜单
                                                        label.control-label(for='meun')
                                                            input#meun(type='radio', name='leixing')
                                                            |  按钮
                                    .modal-footer
                                        button.btn.btn-xs.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 修改资源弹出窗口
                        #changeSource.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 修改资源
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 名称：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 链接：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 排序：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 父节点：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='exampleInput1') 资源类型：
                                                    .col-xs-8
                                                        label.control-label(for='anniu')
                                                            input#anniu(type='radio', name='leixing')
                                                            | 菜单
                                                        label.control-label(for='meun')
                                                            input#meun(type='radio', name='leixing')
                                                            |  按钮
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出删除资源警告窗口
                        #deleteSource.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 提示
                                    .modal-body
                                        .container-fluid
                                            | 确定要删除该资源？删除后不可恢复！
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-danger(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                    // 权限管理模块
                    #char.tab-pane(role='tabpanel')
                        .check-div
                            button.btn.btn-yellow.btn-xs(data-toggle='modal', data-target='#addChar') 添加权限
                        .data-div
                            .row.tableHeader
                                .col-xs-1
                                    | 编码
                                .col-xs-4
                                    | 权限名
                                .col-xs-5
                                    | 描述
                                .col-xs-2
                                    | 操作
                            .tablebody
                                .row
                                    .col-xs-1
                                        | 1
                                    .col-xs-4
                                        span 管理员
                                    .col-xs-5
                                        | 管理员具有超年权限
                                    .col-xs-2
                                        button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeChar') 修改
                                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteChar') 删除
                                .row
                                    .col-xs-1
                                        | 2
                                    .col-xs-4
                                        span 游客
                                    .col-xs-5
                                        | 可以查看信息
                                    .col-xs-2
                                        button.btn.btn-success.btn-xs 修改
                                        button.btn.btn-danger.btn-xs 删除
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                        // 增加权限弹出窗口
                        #addChar.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 添加权限
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 权限名：
                                                    .col-xs-6
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 描述：
                                                    .col-xs-6
                                                        textarea.form-control.input-sm.duiqi
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 系统资源：
                                                    .col-xs-6
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 修改权限弹出窗口
                        #changeChar.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 修改权限
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 权限名：
                                                    .col-xs-6
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 描述：
                                                    .col-xs-6
                                                        textarea.form-control.input-sm.duiqi
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 系统资源：
                                                    .col-xs-6
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出删除权限警告窗口
                        #deleteChar.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 提示
                                    .modal-body
                                        .container-fluid
                                            | 确定要删除该权限？删除后不可恢复！
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-danger(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                    // 用户管理模块
                    #user.tab-pane(role='tabpanel')
                        .check-div.form-inline
                            .col-xs-3
                                button.btn.btn-yellow.btn-xs(data-toggle='modal', data-target='#addUser') 添加用户
                            .col-xs-4
                                input.form-control.input-sm(type='text', placeholder='输入文字搜索')
                                button.btn.btn-white.btn-xs 查 询
                            .col-lg-3.col-lg-offset-2.col-xs-4(style=' padding-right: 40px;text-align: right;')
                                label(for='paixu') 排序: 
                                select.form-control
                                    option 地区
                                    option 地区
                                    option 班期
                                    option 性别
                                    option 年龄
                                    option 份数
                        .data-div
                            .row.tableHeader
                                .col-xs-2
                                    | 用户名
                                .col-xs-2
                                    | 地区
                                .col-xs-2
                                    | 真实姓名
                                .col-xs-2
                                    | 电话
                                .col-xs-2
                                    | 状态
                                .col-xs-2
                                    | 操作
                            .tablebody
                                .row
                                    .col-xs-2
                                        | goodmoning
                                    .col-xs-2
                                        | 国际关系地区
                                    .col-xs-2
                                        | 李豆豆
                                    .col-xs-2
                                        | 13688889999
                                    .col-xs-2
                                        | 状态
                                    .col-xs-2
                                        button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#reviseUser') 修改
                                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteUser') 删除
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                        // 弹出添加用户窗口
                        #addUser.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 添加用户
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 用户名：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 真实姓名：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 电子邮箱：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 电话：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 地区：
                                                    .col-xs-8
                                                        select.form-control.select-duiqi
                                                            option(value='') 国际关系地区
                                                            option(value='') 北京大学
                                                            option(value='') 天津大学
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 权限：
                                                    .col-xs-8
                                                        select.form-control.select-duiqi
                                                            option(value='') 管理员
                                                            option(value='') 普通用户
                                                            option(value='') 游客
                                                .form-group
                                                    label.col-xs-3.control-label(for='situation') 状态：
                                                    .col-xs-8
                                                        label.control-label(for='anniu')
                                                            input#normal(type='radio', name='situation')
                                                            | 正常
                                                        label.control-label(for='meun')
                                                            input#forbid(type='radio', name='situation')
                                                            |  禁用
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出修改用户窗口
                        #reviseUser.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 修改用户
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 用户名：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 真实姓名：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 电子邮箱：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 电话：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 地区：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 权限：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='situation') 状态：
                                                    .col-xs-8
                                                        label.control-label(for='anniu')
                                                            input#normal(type='radio', name='situation')
                                                            | 正常
                                                        label.control-label(for='meun')
                                                            input#forbid(type='radio', name='situation')
                                                            |  禁用
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出删除用户警告窗口
                        #deleteUser.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 提示
                                    .modal-body
                                        .container-fluid
                                            | 确定要删除该用户？删除后不可恢复！
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-danger(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                    // 修改密码模块
                    #chan.tab-pane(role='tabpanel')
                        .check-div
                            | 原始密码为12312313
                        div(style='padding: 50px 0;margin-top: 50px;background-color: #fff; text-align: right;width: 420px;margin: 50px auto;')
                            form.form-horizontal
                                .form-group
                                    label.col-xs-4.control-label(for='sKnot') 原密码：
                                    .col-xs-5
                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='', style='margin-top: 7px;')
                                .form-group
                                    label.col-xs-4.control-label(for='sKnot') 新密码：
                                    .col-xs-5
                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='', style='margin-top: 7px;')
                                .form-group
                                    label.col-xs-4.control-label(for='sKnot') 重复密码：
                                    .col-xs-5
                                        input#sKnot.form-control.input-sm.duiqi(type='', placeholder='', style='margin-top: 7px;')
                                .form-group.text-right
                                    .col-xs-offset-4.col-xs-5(style='margin-left: 169px;')
                                        button.btn.btn-xs.btn-white(type='reset') 取 消
                                        button.btn.btn-xs.btn-green(type='submit') 保存
                    // 地区管理模块
                    #scho.tab-pane(role='tabpanel')
                        .check-div.form-inline
                            .col-xs-3
                                button.btn.btn-yellow.btn-xs(data-toggle='modal', data-target='#addSchool') 添加地区
                            .col-lg-4.col-xs-5
                                input.form-control.input-sm(type='text', placeholder='输入文字搜索')
                                button.btn.btn-white.btn-xs 查 询
                            .col-lg-3.col-lg-offset-1.col-xs-3(style='padding-right: 40px;text-align: right;float: right;')
                                label(for='paixu') 排序: 
                                select.form-control
                                    option 地区
                                    option 排名
                        .data-div
                            .row.tableHeader
                                .col-xs-1
                                    | 编码
                                .col-xs-2
                                    | 地区
                                .col-xs-1
                                    | 经度
                                .col-xs-1
                                    | 维度
                                .col-xs-2
                                    | 建筑信息
                                .col-xs-2
                                    | 人员列表
                                .col-xs-2
                                    | 操作
                            .tablebody
                                .row
                                    .col-xs-1
                                        | 1
                                    .col-xs-2
                                        | 国际关系地区
                                    .col-xs-1
                                        | 45.0
                                    .col-xs-1
                                        | 95.90
                                    .col-xs-2
                                        a.linkCcc 查看
                                    .col-xs-2
                                        a.linkCcc 查看
                                    .col-xs-2
                                        button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#reviseSchool') 修改
                                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteSchool') 删除
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                        // 弹出添加用户窗口
                        #addSchool.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 添加地区
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 地区名称：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 经度：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 纬度：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 简称：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出修改用户窗口
                        #reviseSchool.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 修改地区
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 地区名称：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 经度：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 纬度：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 简称：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出删除用户警告窗口
                        #deleteSchool.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 提示
                                    .modal-body
                                        .container-fluid
                                            | 确定要删除该地区？删除后不可恢复！
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-danger(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                    // 规则管理模块
                    #regu.tab-pane(role='tabpanel', style='padding-top: 50px;')
                        .data-div
                            .tablebody.col-lg-10.col-lg-offset-1
                                .row
                                    .col-xs-3(style='padding-right: 0;') 签到超时时间
                                    .col-xs-7.expand-col
                                        .slider-minmax1
                                        .row.top100
                                            span.left 0
                                            span.right 30
                                    .col-xs-2
                                        button.btn.btn-xs.btn-white 默认值
                                .row
                                    .col-xs-3(style='padding-right: 0;') 抢座超时时间
                                    .col-xs-7.expand-col
                                        .slider-minmax2
                                        .row.top100
                                            span.left 0
                                            span.right 15
                                    .col-xs-2
                                        button.btn.btn-xs.btn-white 默认值
                                .row
                                    .col-xs-3(style='padding-right: 0;') 临时离开超时时间
                                    .col-xs-7.expand-col
                                        .slider-minmax3
                                        .row.top100
                                            span.left 0
                                            span.right 60
                                    .col-xs-2
                                        button.btn.btn-xs.btn-white 默认值
                                .row
                                    .col-xs-3(style='padding-right: 0;') 违约次数冻结上限
                                    .col-xs-7.expand-col
                                        .slider-minmax4
                                        .row.top100
                                            span.left 0
                                            span.right 100
                                    .col-xs-2
                                        button.btn.btn-xs.btn-white 默认值
                                .row
                                    .col-xs-3(style='padding-right: 0;') 可预约天数
                                    .col-xs-7.expand-col
                                        .slider-minmax5
                                        .row.top100
                                            span.left 0
                                            span.right 7
                                    .col-xs-2
                                        button.btn.btn-xs.btn-white 默认值
                                .row
                                    .col-xs-3(style='padding-right: 0;') 最大未完成预约数
                                    .col-xs-7.expand-col
                                        .slider-minmax6
                                        .row.top100
                                            span.left 0
                                            span.right 10
                                    .col-xs-2
                                        button.btn.btn-xs.btn-white 默认值
                                .modal-footer
                                    button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                    button.btn.btn-xs.btn-green(type='button') 保 存
                    // 时间段管理模块
                    #time.tab-pane(role='tabpanel')
                        .check-div.form-inline
                            span(href='#sitt', aria-controls='sitt', role='tab', data-toggle='tab', style='cursor: pointer;')
                                span.glyphicon.glyphicon.glyphicon-chevron-left
                                |   返回上一页
                            button.btn.btn-yellow.btn-xs(data-toggle='modal', data-target='#addTime') 添加时间段
                        .data-div
                            .row.tableHeader
                                .col-xs-3
                                    | 编码
                                .col-xs-3
                                    | 开始
                                .col-xs-3
                                    | 结束
                                .col-xs-3
                                    | 操作
                            .tablebody
                                .row
                                    .col-xs-3
                                        | 6426398978
                                    .col-xs-3
                                        | 10:10
                                    .col-xs-3
                                        | 19:30
                                    .col-xs-3
                                        button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#changeTime') 修改
                                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteTime') 删除
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                        // 弹出增加时间段窗口
                        #addTime.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 时间段设置
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 开始时间：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 结束时间：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm(type='email', placeholder='')
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 修改增加时间段窗口
                        #changeTime.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 修改时间段
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 开始时间：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 结束时间：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-green.btn-xs(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出删除时间段警告窗口
                        #deleteTime.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 提示
                                    .modal-body
                                        .container-fluid
                                            | 确定要删除该时间段？
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-danger.btn-xs(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                    // 座位管理模块
                    #sitt.tab-pane(role='tabpanel')
                        .check-div.form-inline(style='')
                            .col-lg-4.col-xs-7.col-md-6
                                button.btn.btn-yellow.btn-xs(data-toggle='modal', data-target='#addBuilding') 添加楼宇
                                label(for='paixu') 楼宇: 
                                select.form-control
                                    option 第一教学楼
                                    option 逸夫楼
                                    option 综合楼
                                    option 图书馆
                                button.btn.btn-white.btn-xs 修 改
                            .col-lg-4.col-lg-offset-4.col-xs-4.col-md-5(style='padding-right: 40px;text-align: right;')
                                input.form-control.input-sm(type='text', placeholder='输入文字搜索')
                                button.btn.btn-white.btn-xs 查 询
                        .data-div
                            .row.tableHeader
                                .col-xs-2(style='padding-left: 20px;')
                                    | 楼层
                                .col-xs-3(style='padding-left: 20px;')
                                    | 区域
                                .col-xs-2(style='padding-left: 2px;')
                                    | 座位数
                                .col-xs-2
                                    | 空余座位
                                .col-xs-3
                                    | 操作
                            .tablebody
                                .sitTable
                                    table.table.table-responsive
                                        tr
                                            td.col-xs-2(valign='middle', rowspan='3') 图书馆第一层
                                            td.col-xs-3 第一自习室
                                            td.col-xs-2 2
                                            td.col-xs-2(style='padding-left: 40px!important;') 3
                                            td.col-xs-3(style='padding-left: 50px!important;')
                                                a.linkCcc(href='#sitDetail', aria-controls='char', role='tab', data-toggle='tab') 座位信息
                                                a.linkCcc(href='#time', aria-controls='char', role='tab', data-toggle='tab') 时间段设置
                                        tr
                                            td.col-xs-3 第一自习室
                                            td.col-xs-2 2
                                            td.col-xs-2(style='padding-left: 40px!important;') 3
                                            td.col-xs-3(style='padding-left: 50px!important;')
                                                a.linkCcc(href='#sitDetail', aria-controls='char', role='tab', data-toggle='tab') 座位信息
                                                a.linkCcc(href='#time', aria-controls='char', role='tab', data-toggle='tab') 时间段设置
                                        tr
                                            td.col-xs-3 第一自习室
                                            td.col-xs-2 2
                                            td.col-xs-2(style='padding-left: 40px!important;') 3
                                            td.col-xs-3(style='padding-left: 50px!important;')
                                                a.linkCcc(href='#sitDetail', aria-controls='char', role='tab', data-toggle='tab') 座位信息
                                                a.linkCcc(href='#time', aria-controls='char', role='tab', data-toggle='tab') 时间段设置
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                        // 弹出添加楼宇窗口
                        #addBuilding.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 添加楼宇
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 楼层：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm.duiqi(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 区域：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm.duiqi(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 座位数：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm.duiqi(type='', placeholder='')
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出修改用户窗口
                        #reviseUser.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 修改用户
                                    .modal-body
                                        .container-fluid
                                            form.form-horizontal
                                                .form-group
                                                    label.col-xs-3.control-label(for='sName') 用户名：
                                                    .col-xs-8
                                                        input#sName.form-control.input-sm(type='email', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sLink') 真实姓名：
                                                    .col-xs-8
                                                        input#sLink.form-control.input-sm(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sOrd') 电子邮箱：
                                                    .col-xs-8
                                                        input#sOrd.form-control.input-sm(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 电话：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 地区：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='sKnot') 权限：
                                                    .col-xs-8
                                                        input#sKnot.form-control.input-sm(type='', placeholder='')
                                                .form-group
                                                    label.col-xs-3.control-label(for='situation') 状态：
                                                    .col-xs-8
                                                        label.control-label(for='anniu')
                                                            input#normal(type='radio', name='situation')
                                                            | 正常
                                                        label.control-label(for='meun')
                                                            input#forbid(type='radio', name='situation')
                                                            |  禁用
                                    .modal-footer
                                        button.btn.btn-xs.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-green(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                        // 弹出删除用户警告窗口
                        #deleteUser.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 提示
                                    .modal-body
                                        .container-fluid
                                            | 确定要删除该用户？删除后不可恢复！
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-green.btn-xs(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
                    // 座位详情模块
                    #sitDetail.tab-pane(role='tabpanel')
                        .check-div.form-inline
                            span(href='#sitt', aria-controls='sitt', role='tab', data-toggle='tab', style='cursor: pointer;')
                                span.glyphicon.glyphicon.glyphicon-chevron-left
                                |   返回上一页
                        .data-div
                            .row.tableHeader
                                .col-xs-6
                                    | 座位编码
                                .col-xs-6
                                    | 座位名称
                            .tablebody
                                .row
                                    .col-xs-6
                                        | sad2345fas345533
                                    .col-xs-6
                                        | 王座
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                    // 人员管理模块
                    #stud.tab-pane(role='tabpanel')
                        .check-div.form-inline
                            .col-xs-5
                                input.form-control.input-sm(type='text', placeholder='输入文字搜索', style='	!height: 40px!important;')
                                button.btn.btn-white.btn-xs 查 询
                            .col-xs-4.col-lg-4.col-md-5(style='padding-right: 40px;text-align: right;float: right;')
                                label(for='daoru') 导入人员信息表: 
                                button#daoru.btn.btn-white.btn-xs 选取文件
                                button.btn.btn-white.btn-xs 导入
                        .data-div
                            .row.tableHeader
                                .col-xs-2
                                    | 学号
                                .col-xs-1
                                    | 姓名
                                .col-xs-2
                                    | 院系
                                .col-xs-2
                                    | 年年
                                .col-xs-2
                                    | 学习时长
                                .col-xs-2
                                    | 违约次数
                                .col-xs-1
                                    | 操作
                            .tablebody
                                .row
                                    .col-xs-2
                                        | 6426398978
                                    .col-xs-1
                                        | 邓超
                                    .col-xs-2
                                        | 计算机地区
                                    .col-xs-2
                                        | 2013年
                                    .col-xs-2
                                        | 15
                                    .col-xs-2
                                        | 2
                                    .col-xs-1
                                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteObey') 清除违约
                        // 页码块
                        footer.footer
                            ul.pagination
                                li
                                    select
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                                        option 7
                                        option 8
                                        option 9
                                        option 10
                                    | 									页
                                li.gray
                                    | 共20页
                                li
                                    i.glyphicon.glyphicon-menu-left
                                li
                                    i.glyphicon.glyphicon-menu-right
                        // 弹出删除违约记录警告窗口
                        #deleteObey.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                        h4#gridSystemModalLabel.modal-title 提示
                                    .modal-body
                                        .container-fluid
                                            | 确定要删除该违约记录？删除后不可恢复！
                                    .modal-footer
                                        button.btn.btn-xs.btn-white(type='button', data-dismiss='modal') 取 消
                                        button.btn.btn-xs.btn-danger(type='button') 保 存
                                // /.modal-content
                            // /.modal-dialog
                        // /.modal
        // 滑块js
        //
          <script type="text/javascript">
          scale = function(btn, bar, title, unit) {
          this.btn = document.getElementById(btn);
          this.bar = document.getElementById(bar);
          this.title = document.getElementById(title);
          this.step = this.bar.getElementsByTagName("div")[0];
          this.unit = unit;
          this.init();
          };
          scale.prototype = {
          init: function() {
          var f = this,
          g = document,
          b = window,
          m = Math;
          f.btn.onmousedown = function(e) {
          var x = (e || b.event).clientX;
          var l = this.offsetLeft;
          //						var max = f.bar.offsetWidth - this.offsetWidth;
          var max = f.bar.offsetWidth-20 ;
          g.onmousemove = function(e) {
          var thisX = (e || b.event).clientX;
          var to = m.min(max, m.max(-2, l + (thisX - x)));
          f.btn.style.left = to+ 'px';
          f.ondrag(m.round(m.max(0, to / max) * 100), to);
          b.getSelection ? b.getSelection().removeAllRanges() : g.selection.empty();
          };
          g.onmouseup = new Function('this.onmousemove=null');
          };
          },
          ondrag: function(pos, x) {
          this.step.style.width = Math.max(0, x) +2+ 'px';
          this.title.innerHTML = pos / 10 + this.unit + "";
          }
          }
          new scale('btn0', 'bar0', 'title0', "分钟");
          new scale('btn1', 'bar1', 'title1', "分钟");
          new scale('btn2', 'bar2', 'title2', "天");
          new scale('btn3', 'bar3', 'title3', "次");
          </script>
        script(src='js/jquery.nouislider.js')
        // this page specific inline scripts
        script.
            //min/max slider
            function huadong(my, unit, def,max) {
                $(my).noUiSlider({
                    range: [0, max],
                    start: [def],
                    handles: 1,
                    connect: 'upper',
                    slide: function() {
                        var val =Math.floor($(this).val());
                        $(this).find(".noUi-handle").text(
                                val + unit
                        );
                        console.log($(this).find(".noUi-handle").parent().parent().html());
                    },
                    set: function() {
                        var val =Math.floor($(this).val());
                        $(this).find(".noUi-handle").text(
                                val + unit
                        );
                    }
                });
                $(my).val(def, true);
            }
            huadong('.slider-minmax1', "分钟", "5",30);
            huadong('.slider-minmax2', "分钟", "6",15);
            huadong('.slider-minmax3', "分钟", "10",60);
            huadong('.slider-minmax4', "次", "2",10);
            huadong('.slider-minmax5', "天", "3",7);
            huadong('.slider-minmax6', "天", "8",10);

